/* animation frames*/

@keyframes stupidHeadMovement {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes overgrown {
    0% {
        transform: scale(0) rotate(0deg);
    }
    80% {
        transform: scale(1.2) rotate(380deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes comeAndExpand {
    0% {
        transform: translateX(0px) scaleY(0);
    }
    20% {
        transform: translateX(5000px) scaleY(0);
    }
    100% {
        transform: translateX(5000px) scaleY(1);
    }
}

:root{
    --backgroundcolor: black;
    --themecolor:rgb(151, 3, 3);
}   


body {
    background: var(--backgroundcolor);
    color: white;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: blue;
}

#mypic {
    height: 1.5em;
    position: relative;
    top: 0.3em;
    animation: stupidHeadMovement 0.5s linear 0s infinite forwards normal;
}

#contactButton p {
    display: inline;
    margin-right: 0;
    padding-right: 0;
}

#contactButton {
    display: inline-block;
    padding: 1%;
    border-radius: 10px;
    background: var(--themecolor);
    position: fixed;
    top: 3%;
    right: 3%;
    transform: scale(0);
    font-size: 3em;
    cursor: pointer;
}

input {
    display: block;
    width: 90%;
    margin: 5% 1%;
}

#connectform {
    display: none;
}
#connectform p{
    font-size: 0.5em;
}
#connectform.active {
    display: block;
}

.page01 {
    width: 100%;
    bottom: 10%;
}

.page01 {
    position: fixed;
    left: calc(10% - 5000px);
}

.page01 p {
    font-size: 2em;
    font-style: italic;
}

.page01 p.animate {
    transform: translateX(5000px);
}

#contactButton.scaleUp {
    animation-name: overgrown;
    animation-duration: 1s;
    transform: scale(1);
    z-index: 2;
}

#contactButton.fixup {
    right: 0;
    margin: 0;
    top: 5%;
    transform: translateX(25%) scale(0.5);
    transition: 1s;
}

#contactButton.scaleUp.fixup:hover {
    box-shadow: 0 0 0 10px white;
}
#contactButton:hover{
    box-shadow: none;
}
.modal.active {
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.page02 {
    position: fixed;
    left: -5000px;
    margin-left: 5%;
    margin-top: 4%;
    width: 95%;
    top: 0px;
}

.page02 .seq {
    transform: scaleY(0);
}

.page02 .animate {
    transform: translateX(5000px) scaleY(1);
    animation-name: comeAndExpand;
    animation-duration: 1s;
}

.page02 .image {
    width: 45%;
    text-align: center;
}

.page02>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 30vh;
    margin-top: 2%;
    border-bottom: var(--themecolor) solid 1px;
    padding: 1%;
}
.page02 .seq04{
    height: auto;
    padding: 0;
    margin: 0;
}


.page02 .description {
    text-align: left;
    width: 45%;
    padding-left: 2%;
}

.page02 img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.page02 h2 {
    font-size: 1.5em;
}

.page02 p {
    font-size: 1.25em;
}

.page03 {
    margin: 10%
}

.page03 ul {
    list-style-type: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    top: 40%;
    transform: translateY(2000px);
}

.page03 li {
    margin: 2%;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1%;
}
progress{
    height: 1em;
}


.page03 .animate {
    transform: translateY(0px);
    transition: 0.6s;
}

#footer {
    text-align: center;
    padding: 20%;
}

#footer ul {
    font-size: 1.5em;
    list-style-type: none;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    border-top: 2px solid var(--themecolor);
    transform: translateY(200px);
}

#footer ul.fixup {
    transform: translateY(0);
    transition: 2s;
}

#footer ul li {
    cursor: pointer;
    padding: 0 1em;
    flex: 1;
}

#footer li:nth-child(2) {
    border-left: 1px solid var(--themecolor);;
    border-right: 1px solid var(--themecolor);;
}

#footer li:hover {
    background: rgba(255, 255, 255, 0.3);
}

#footer li.light {
    background: var(--themecolor);
}

#footer ul .showoffblue {
    background: blue;
}

#footer ul .showoffred {
    background: red;
}
.particle-holder{
    position: fixed;
    top: 0;
    z-index: -1;
}



@media only screen and (max-width: 750px) {
    body {
        font-size: 10px;
    }
    .page {
        width: 95%;
        margin: 2%;
        padding: 0;
    }
    .page01 .seq03 {
        font-size: 1.5em;
    }
    .page02 {
        margin-top: 2%;
    }
    .page02 .image{
        width: 40%;
    }
    .page02 .description{
        width: 59%;
        padding-top: 0;
        margin-top: 0;
    }
    .page03 ul{
        top:20%;
    }
    #contactButton.fixup {
        right: 0;
        top: -3%;
        transform: translateY(25%) scale(1);
    }
    #contactButton.fixup p {
        display: none;
    }
    #footer {
        padding: 0;
        margin: 0;
    }
    #footer ul {
        margin: 0;
        padding: 0;
        width: 100%;
        background:  var(--backgroundcolor);
        left: 0;
    }
    #footer ul li {
        padding: 3%;
    }
}