body,section,span,div,h1,h2,h3,h4h,h5,h6,p{
    margin: 0;
    padding: 0;
}
/*skillsection---------------------------------------------*/
#skillsection{
    background-image: url('../img/background2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
}
#skillsection h1{
    font-size: 2.5em;
}
#skillsection #signature{
    padding: 5em 0;
}
#skillsection h3{
    display: inline-block;
    width: 100px;
    font-weight: 400;
    padding: 5px;
}

#skillsection .skills{
    margin: 0 10%;
}
#skillsection div.skills{
    margin-top: 10px;
    background: rgba(255,255,255,0.5);
    padding: 2px 5px;
    border-radius: 10px;
    width: 170px;
    
}

span.progressbar{
    display: inline-block;
    width:5px;
    height: 1em;
    background: yellow;
    margin: 0 2px;
}


/*projectsection-----------------------------------------*/
#projectsection{
    position: relative;
    overflow: hidden;
}
#projectsection h2{
    margin: 20px;
    font-size: 2em;
}
#projectsection .projectcase{
    position: relative;
    display: flex;
    justify-content:space-around;
    padding: 20px 0;
}
#projectsection h3{
    display: absolute;
    font-size: 1.5em;
}


#projectsection .projects img{
    width: 300px;
}

#projectbacground{
    height: 1000px;
}
#projectbacground{
    background:wheat;
    position: absolute;
    width: 100%;
    top: 3em;
    transform: skewY(4deg);
    z-index: -1;
}
/*socialsection------------------------------------------*/
#socialsection{
    text-align: center;
}
#socialsection a img{
    height: 50px;
    margin: 1%;
}
/*aboutmesection-----------------------------------------*/
#aboutmesection h4{
    font-size: 1.2em;
    width: 45%;
    text-align: justify;
    margin: 2%;
    font-weight: 400;
    display: inline-block;
}
form{
    display: inline-block;
    width:45%;
    margin: auto;
}
input,textarea{
    margin: 15px 5px;
    display: block;
    width: 100%;
}
textarea{
    resize: none;
}